*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  height: 54px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
  margin-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-width: 0;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 195px;
  height: 103px;
  object-fit: cover;
  object-position: right center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84 80 80 / 1);
}

.content__card-link {
  text-decoration: none;
  color: rgb(255 255 255 / 1);
  display: block;
}

.content__card-link:active {
  background-color: rgb(84 80 80 / 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255 255 255 / 1);
}

.content__card-link_current {
  background-color: rgb(84 80 80 / 1);
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid rgb(255 255 255 / 1);
  border-left: none;
  border-right: none;
  color: #fff;
  appearance: none;
  width: 225px;
  height: 27px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255 255 255 / 1);
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgb(255 255 255 / 1);
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid rgb(255 255 255 / 1);
  background-color: transparent;
  color: rgb(255 255 255 / 1);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 390px;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgb(84 80 80 / 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255 255 255 / 1);
  outline-offset: 2px;
}

.button,
.search-form__checkbox-list .search-form__label,
.content__card-link {
  cursor: pointer;
}
